body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;;
}

header {
    display: flex;
    align-items: center;
    background-color: #ffff00;
    justify-content: center;
    position: sticky;
    top: 0px;
    width: 100vw;
}

nav, ul, a {
    text-align: center;
    list-style: none;
    text-decoration: none;
    background-color: #08040f;
    color: #ffffff;
    margin: 0;
    padding-inline-start: 0;
}

.nav {
    position: absolute;
    width: 100vw;
    clip-path: inset(0 100% 0 0);
}

ul {
    padding-top: 10px;
    padding-bottom: 5px;
}

li{
    padding: 10px;
    margin: 0 10px
}

li:hover {
    background-color: #36215b;
}

.burger__icon {
    width: 60px;
    position: absolute;
    right: 5px;
}

.burguer_title {
    margin: 0 20%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 2rem;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

