body {
    margin: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff00;
}

.head {
    min-width: 200px;
}